{% extends 'catalog/home.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    {% if request.user.is_authenticated %}
    <div style="display: flex; justify-content: center; margin-bottom: 20px;">
        <a class="btn btn-outline-primary" href="{% url 'catalog:product_create' %}" role="button">Добавить продукт</a>
    </div>
    {% endif %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for product in object_list %}
        <div class="col">
            <div class="card shadow-sm" >
<!--            условие если картинка не загружена-->
                {% if product.image %}
                <img src="{{ product.image | media_filter}}" style="height: 400px; object-fit: cover;">
                {% else %}
                <img src="/media/images/photo/no_photo.jpg" style="height: 400px; object-fit: cover;"/>
                {% endif %}
                <div class="card-body">
                    <p class="card-textbody-secondary fs-3">{{ product.name }}</p>
                    <p class="card-text">{{ product.description | slice:":100" }}</p>
                    {% if product.active_version %}
                        <p class="card-text"><strong>Текущая версия:</strong> {{ product.active_version.version_name }} (v{{ product.active_version.version_number }})</p>
                    {% endif %}
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group ">
                            <a class="btn btn-outline-primary" href="{% url 'catalog:product_detail' product.pk%}"
                               role="button">Посмотреть</a>
                            <a class="btn btn-outline-primary" href=""
                               role="button">Купить</a>
                        </div>
                        <small class="text-body-secondary fs-4">{{ product.purchase_price }} руб.</small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}